* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1440px;
    margin: 0 auto;
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 0 30px;
}


/* Header */
header {
    display: flex;
    align-items: center;
    padding: 20px 0;
}
nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
ul {
    display: flex;
    list-style: none;
    gap: 30px;
}
a {
    text-decoration: none;
    color: hsl(0, 0%, 41%);
}
header img {
    margin-right: 60px;
}
.login-side {
    display: flex;
    gap: 30px;
    align-items: center;
}
#register {
    font-family: 'Epilogue', sans-serif;
    font-size: 16px;
    padding: 12px 15px;
    background-color: transparent;
    color: hsl(0, 0%, 41%);
    border: 2px solid hsl(0, 0%, 41%);
    border-radius: 15px;
}


/* Section */
section {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 50px 0;
}
.content {
    padding: 110px 190px 0 0;
}
.make-remote h1 {
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 43px;
}
.make-remote p {
    color: hsl(0, 0%, 41%);
    font-weight: 500;
    padding-right: 50px;
    margin-bottom: 60px;
}
#learn-more {
    font-family: 'Epilogue', sans-serif;
    font-size: 16px;
    padding: 15px 20px;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    border: 2px solid hsl(0, 0%, 8%);
    border-radius: 15px;
    margin-bottom: 120px;
}
.client {
    display: flex;
    align-items: center;
    gap: 40px;
}
.photo img {
    width: 480px;
    height: 640px;
}
