* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
}
/* Scrolling effect */
html {
    scroll-snap-type: y mandatory;
    scroll-padding: 0;
    scroll-snap-stop: always;
}

/* first landing || nav is included */
.landing {
    background-image: url(images/model-y.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    scroll-snap-align: start;
}
/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 16px 50px;
    font-size: 14px;
    position: fixed;
    width: 100%;
}
header a {
    text-decoration: none;
    color: #171a20;
    margin: 0 12px;
}
.logo img {
    width: 120px;
    height: 24px;
}
.models ul {
    display: flex;
    list-style: none;
}
.menu ul {
    display: flex;
    list-style: none;
}

/* Text inside landings */
.text {
    width: 400px;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.text h1 {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #171a20;
}
.text a {
    color: #171a20;
    font-size: 14px;
    font-weight: 300;
}
.text p {
    color: #171a20;
    font-size: 14px;
    font-weight: 300;
}




/* Landings */
#landing2 {
    background-image: url(images/model-3.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    scroll-snap-align: center;
}
#landing3 {
    background-image: url(images/model-s.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    scroll-snap-align: center;
}
#landing4 {
    background-image: url(images/model-x.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    scroll-snap-align: center;
}
#landing5 {
    background-image: url(images/solar-panel.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    scroll-snap-align: center;
}
#landing6 {
    background-image: url(images/solar-roof.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    scroll-snap-align: center;
}
#landing7 {
    background-image: url(images/accessories.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    scroll-snap-align: end;
}
